
.listings .box-container{
    display: grid;
    row-gap: 2rem;
}

.listings .box-container form{
    background-color: var(--white);
    box-shadow: var(--box-shodow);
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.listings .box-container form .box{
    flex: 1 1 40rem;
    overflow-x: hidden;
}

.listings .box-container form .box .thumb{
    height: 30rem;
    position: relative;
    margin: 1.5rem 0;
}

.listings .box-container form .box .thumb img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.listings .box-container form .box .save{
    padding: 1rem 3rem;
    background-color: var(--light-bg);
    font-size: 1.8rem;
    cursor: pointer;
}

.listings .box-container form .box .save i{
    margin-right: 1rem;
    color: var(--black);
}

.listings .box-container form .box .save span{
    color: var(--light-color);
}

.listings .box-container form .box .save:hover{
    background-color: var(--main-color);
}

.listings .box-container form .box .save:hover i{
    color: var(--white);
}

.listings .box-container form .box .save:hover span{
    color: var(--white);
}

.listings .box-container form .box .thumb .total-images{
    position: absolute;
    top: 1rem; left: 1rem;
    background-color: rgba(0,0,0,.3);
    color: var(--white);
    padding:.5rem 1rem;
    font-size: 1.7rem;
}

.listings .box-container form .box .thumb .total-images i{
    margin-right: .8rem;
}

.listings .box-container form .box .admin{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.listings .box-container form .box .admin h3{
    height: 4.5rem;
    line-height: 4.4rem;
    width: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--black);
    background-color: var(--light-bg);
    text-align:center;
    text-transform: uppercase;
}

.listings .box-container form .box .admin p{
    padding-bottom: .3rem;
    color: var(--black);
    font-size: 1.7rem;
}

.listings .box-container form .box .admin span{
    color: var(--light-color);
    font-size: 1.5rem;
}

.listings .box-container form .box .price{
    font-size: 2rem;
    color: var(--main-color);
}

.listings .box-container form .box .price i{
    margin-right: .8rem;
}

.listings .box-container form .box .name{
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--black);
    line-height: 1.5;
    text-overflow: ellipsis;
}

.listings .box-container form .box .location{
    font-size: 1.7rem;
    color: var(--light-color);
    padding-bottom: 1rem;
}

.listings .box-container form .box .location i{
    margin-right: 1rem;
    color: var(--main-color);
}

.listings .box-container form .box .flex{
    margin: 1rem 0;
    background-color: var(--light-bg);
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.listings .box-container form .box .flex p{
    font-size: 1.7rem;
    flex: 1 1 20rem;
}

.listings .box-container form .box .flex p i{
    color: var(--main-color);
    margin-right: .8rem;
}

.listings .box-container form .box .flex p span{
    color: var(--light-color);
}